#signup-form{
    font-size: 15px;
    width: 500px;
    margin: 0 auto;
}

.form-group{
    margin: 10px 0px 10px;
    font-size: inherit;
}

.form-control{
    
    margin: 10px 0px 10px;
    font-size: inherit;
}


