#container{
        margin:10px auto;
        max-width: 100%;
    }
    #hotel{
        margin-left: 0%;
        margin-right: 0%;
        margin-top:1%;
        margin-bottom: 1%;
        height: 250px;
        border-radius: 8px;
        text-align: center;
        background-color: white;
    }
    #more{
        margin-left: 0%;
        margin-right: 0%;
        margin-top:1%;
        margin-bottom: 1%;
        height: 250px;
        border-radius: 8px;
        text-align: center;
        background-color: white;
    }
    
   
    #column-left{
        margin: 0.75%;
        padding-top: 10px;
    }
    #column-right{
        margin: 0.75%;
    }
    #outer-row{
        padding-top: 15px;
    }
    
    #icon_more{
        color: black;
        width: 74.94px;
        height:50px;
        font-size: 50px;
    }
#rest-name > p{
	text-transform: uppercase;
	font-size: 15px;
	font-family: serif;
}
    #star{
		padding: 5px;
        font-size: 15px;
		text-align: left;
		width: auto;
    }
    #cost{
        float: right;
		font-size: 15px;
    }

#rating{
	font-size: 15px;
}
    
    #rate-cost{
		position: relative;
		bottom: 0px;
    }
    
    p{
        font-size: 18px;
    }
    
.caption{
	height: 110px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
    .thumbnail{
        border-color: darkorange;
		border-width: thin;
        border-radius: 1px;
        background-color: #ffe0b3;
        width: 100%;
        height: 100%;
    }

#rest-link{
	text-decoration: none;

}
    img{
        border-radius: 1px;
    }