.header{
	background-color: #F1F1F1;
    text-align: center;
    padding: 5px;
}

#footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;	
}

/*
li{
	display: inline;
	padding: 5px;
}*/
