.header{
	background-color: #f1f1f1;
    text-align: center;
    padding: 5px;
}

#footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;	
    margin-top: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background-color: #f1f1f1;
    color: #303030;
}

.fa:hover{
    color: #303030;
    opacity:0.7;
    font-size: 40px;
    padding:10px;
}


