.side-nav .inner-nav{
	display: none;
}
.img-thumbnail{
	background-color: #e27e26;
	border-color: #e27e26;
}

.side-nav li.active>.inner-nav{
    display: block;
}

#side-nav-item{
	font-size: 13px;	
	color: black;
}
#side-nav-item > a{
	color: black;
}

.jumbotron{
	background-color: #343A40;
	color: white;
}

.nav-pills > li.active > a, .nav-pills > li > a:hover, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #e27e26;
}

#rating-star{
	font-size: 18px;
	padding: 1px;
	color: #e27e26;
}

#fav-btn{
	font-size: 15px;
	border-color: #e27e26;
}

#fav-heart{
	color: #dc3545;
	font-size: 15px;
	padding: 5px;
	padding-left: 0px;
	width: auto;
}


/*#rest_info{
	background-color: #e9e9eb;
}*/

.uline {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #686b78;
    margin: 18px auto 30px;
}

#rest_info > div > h1{
	text-align: center;
	padding: 30px;
}
#rest_info > div > p{
	text-align: center;
	font-size: 14px;
	padding: 15px;
	padding-bottom: 50px;
}

table{
	font-size: 13px;
}
